*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
.marck-script-normal {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  body{
    background-color: rgba(17, 17, 17, 1.00);
  }
header{
    background-color: rgba(17, 17, 17, 1.00);

}
.pcolor{
    color: #B7B2B2;
}
nav{
    max-width:1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(17, 17, 17, 1.00);
    padding: 20px 0px;
}
nav h1{
    color: rgba(230, 83, 60, 1.00);
    font-weight: 900;
    font-style: italic;
    font-size: 2.5 rem;
    letter-spacing: 2px;

}
.list-items{
    display: flex;
    color: #fff;
    gap: 40px;
    
}
.list-items li{
    list-style: none;
    
}
.list-items li a{
    color: #fff;
    text-decoration: none;
}
.btn-primary{
    background-color:rgba(230, 83, 60, 1.00) ;
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    border: none;
}
.icon{
    display: none;
}
/* ------banner part------ */
.banner-part{
    display: flex;
    width: 1060px;
    margin: 50px auto;

}
.heading-title{
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 30px;
}
.header-description{
    line-height: 25px;
    margin-bottom: 40px;
}
.banner-text{
    width: 50%;
    color: #fff;
    margin-top: 80px;
   
}
.banner-img{
    width: 40%;
    color: #fff;
    margin-left: 200px;
    
}
.banner-img img{
    width: 100%;

}
.banner-card1{
    width: 190px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.10);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-top: 150px;
    margin-left: 250px;
    padding-top: 10px;
   
}
.banner-card2{
    width: 217px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    position: absolute;
    margin-top: -200px;
   margin-left: -100px;
   padding-top: 20px;
}
.btn1{
    padding: 10px 25px;
    border-radius: 30px;
    background-color:  rgba(230, 83, 60, 1.00);
    color:#fff;
}
.btn2{
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
    background: none;
    border: 1px solid ;
}
.banner-cd{
    
}
.banner-circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1.00) ;
}

/* ----------main sectin started--------- */
main{
    background-color: rgba(17, 17, 17, 1.00);
    width: 1060px;
    margin: 0 auto;
}
.habit-img-container{
    display: flex;
    gap: 70px;
    color:#fff;
}
.habit-text-container{
    color:#fff;
    text-align: center; 
    margin-top: 50px;   
    margin-bottom: 60px;     
}

.habit-description{
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}
.habit-img-part{
    color:#fff;
}
.habit-img-part img{
    border-radius: 50%;
}
.part-title{
    padding-top: 20px;
    margin-left: 55px;
    margin-bottom: 20px;
    
}

/* ---------section 3--------- */
.running-container{
    
    height: 300px;
   margin-top: 50px;
    background-color: rgb(83, 80, 80);
    display: flex;
    border-radius: 10px;
}
.run-text{
    width: 45%;
    margin-top: 80px;
    line-height: 30px;
    margin-left: 20px;
}
.run-title{
    margin-bottom: 25px;
}
.button-2{ 
      background-color:rgba(230, 83, 60, 1.00) ;
    border-radius: 30px;
    padding: 5px 25px;
    color: #fff;
    margin-top: 30px;
  

}
.run-img img{
    width: 95%;
    height: 95%;
    border-radius: 10px;
}
.run-img{
    width: 40%;
    margin-top: 20px;
    margin-left: 120px;
   

    
    
}
.calculator-container{
    display: flex;
}
.text-container-bmi{
    text-align: center;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    letter-spacing: 1px;
    line-height: 30px;
    
}
.calculator-container{
    height: 300px;
   border-radius: 5px;
    background-color: rgb(83, 80, 80) ;
}
.left-container{
    width: 40%;
    margin-left: 50px;
    margin-top: 50px;


}
.right-container{
    margin-top: 50px;
    width: 50%;
    margin-left: 100px;

}
.rightp{}
table{
   
}
.table-controls {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    
}

.table-controls th, .table-controls td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-controls th {
  text-align: center;
    color: black;
    font-weight: bold;
}

.table-controls td {
    font-size: 14px;
    color:black;
}
input{
    padding: 5px 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}
                /* ----------section four------- */
 .our-meet{
    display: grid;
    grid-template-columns: repeat(1,3fr);
 }
 img{width: 100%;}

